.myImg{
    object-fit: contain;
    width: 100%;
    height: auto;
}
img{
    width: 70px;
}
.bod{
    background-color: #212121;
    color: white;
}
.nav-link{
    color:white;
}

.row{
    padding-top: 20px;
    padding-bottom: 20px;
}

li a:hover{
    border-radius: 14px;
    background-color: rgb(125, 231, 125);
}
.pad{
    padding: 0px 10px;
}
li a:hover{
    border-radius: 14px;
    background-color: rgb(125, 231, 125);
}
.box {
    background-color: white;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    font-size: 20px;
    height: auto;
    width: auto;
    text-align: justify;
}
.det {
    text-align: center;
    font-size: 30px;
}
